<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            background: #b4f5f7;
            
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="container">
            <div class="form">
                <form action="{% url "inscription" %}" method='post'>
                    {% csrf_token %}
                    <h1>Inscription</h1>
                    {{ form.as_p }}
                    <button type="submit">S'inscrire</button>
                </form>
                <div class="link">Deja inscrit ? <a href="{% url "connexion" %}">se connecter</a></div>
            </div>
        </div>
    </div>
</body>
</html>