<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/inscription.css" %}">
    <title>Document</title>
    <style>
        .helptext{
            display: none;
        } 
        ul{ 
            display: none;
        }
    </style>

</head>

<body>

    <div class="container">
        <div class="container">
            <div class="form">
                <form action="{% url "inscription" %}" method='post'>
                    {% csrf_token %}
                    <h1>Inscription</h1>
                    {{ form.as_p }}
                    <button type="submit">S'inscrire</button>
                </form>
                <div class="link">Deja inscrit ? <a href="{% url "connexion" %}">se connecter</a></div>
            </div>
        </div>
    </div>

    {% comment %} <ul class="errorlist">
        <li>This password is too short. It must contain at least 8 characters.</li>
        <li>This password is too common.</li>
        <li>This password is entirely numeric.</li>
    </ul> {% endcomment %}


</body>

</html>